<form class="form-horizontal">
	<h4>Top up History</h4>
	<br/>
	<div class="table-responsive">  
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Top-up Approach</th>
				<th>Amount</th>
				<th>Gift</th>
				<th>Time</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>PayPal</td>
				<td>$15</td>
				<td>$0.00</td>
				<td>2015-09-01 12:00:35</td>
			</tr>
			<tr>
				<td>PayPal</td>
				<td>$10</td>
				<td>$0.00</td>
				<td>2015-09-01 12:00:35</td>
			</tr>	
			<tr>
				<td>PayPal</td>
				<td>$15</td>
				<td>$0.00</td>
				<td>2015-09-01 12:00:35</td>
			</tr>
			<tr>
				<td>PayPal</td>
				<td>$10</td>
				<td>$0.00</td>
				<td>2015-09-01 12:00:35</td>
			</tr>					
		</tbody>
	</table>
	</div>
</form>
